@-webkit-keyframes zoom_op {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes zoom_op {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

common-hero-banner {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: block;

  .swiper-pagination {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .img {
    padding-bottom: 68.571428571%;

    @media (min-width: 768px) {
      padding-bottom: 52%;
    }
    @media (min-width: 1024px) {
      padding-bottom: 28.5%;
    }
  }

  .box {
    position: relative;
  }
}
