.swiper-pagination {
    display: flex;
    &.w-static {
        position: static;
    }

    &.w-center {
        justify-content: center;
    }

    &.w-line {
        align-items: center;
        gap: 8px;

        .swiper-pagination-bullet {
            cursor: pointer;
            font-size: 0;
            border-radius: 99999px;
            width: 12px;
            height: 12px;
            margin: 0;
            padding: 0;
            opacity: 1;
            position: relative;
            background: none;

            transition: width .3s;

            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                height: 12px;
                top: 50%;
                width: 100%;
                left: 0;
                transform: translate3d(0, -50%, 0px);
                border-radius: 99999px;
                transition: all .3s;
                background-color: #3449B7;
                opacity: 0.4;
            }
        }

        &.w-black {
            .swiper-pagination-bullet {
                &:before {
                    background-color: #D9D9D9;
                    height: 12px;
                }
            }

            .swiper-pagination-bullet-active {
                &:before {
                    height: 12px;
                    background-color: #3449B7;
                    opacity: 1;
                }
            }
        }

        &.w-orange-gradient {
            .swiper-pagination-bullet {
                &:before {
                    --swiper-pagination-bullet-bg-color: rgba(35,0,78,.4);
                    --swiper-pagination-bullet-border-color: white;
                    --swiper-pagination-bullet-border-width: 2px;
                    --swiper-pagination-bullet-width: 12px;
                    --swiper-pagination-bullet-height: 12px;
                }

                &:after {
                    --swiper-pagination-bullet-border-color: transparent;
                    --swiper-pagination-bullet-border-width: 0;
                    --swiper-pagination-bullet-bg: linear-gradient(269.9deg, #FFCE00 -24.83%, #FF8B00 18.26%, #E51F6F 61.07%, #8D50C1 99.94%);
                }
            }

            .swiper-pagination-bullet-active {
                &:before {
                    --swiper-pagination-bullet-bg-color: transparent;
                    --swiper-pagination-bullet-border-color: white;
                }

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.swiper {
    
    &.w-linear {
        .swiper-wrapper {
            transition-timing-function: linear;
        }
    }

    &.w-initial {
        overflow: initial;   
    }
}


[data-slider-prev],
[data-slider-next] {
    transition: opacity .3s;

    &.swiper-button-disabled {
        pointer-events: none;
        background-color: #CCD1ED;
        opacity: 1;
    }  
}
@media (max-width: 768px) {
    [data-slider-prev],
    [data-slider-next] {
        display: none;
        opacity: 0;
    }
}