<!DOCTYPE html>
<html lang="en">
<%~ include('/src/views/layouts/head.html') %>

  <body class="home">
    <%~ include('/src/views/partials/header.html') %>

      <section class="feelshop-section">
        <div class="inner">
          <h1>Home</h1>
        </div>
      </section>

      <%~ include('/src/views/partials/footer.html') %>
        <%~ include('/src/views/layouts/foot.html') %>
  </body>

</html>

<style>
  #webpack-dev-server-client-overlay {
    display: none !important;
  }
</style>